@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0e12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0e12;
    --foreground: #eaecef;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* 공통 스타일 추가 */
.common-bg {
  @apply bg-primary; /* Tailwind의 primary 색상 */
}

/* 애니메이션 딜레이를 위한 유틸리티 클래스 */
.common-border-radius {
  @apply rounded-lg; /* 원하는 보더 레디우스 */
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}
